@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/main.css">
    @RenderSection("Styles", false)
    <link href="https://fonts.googleapis.com/css2?family=Prata&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5b2bfb13e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Prata&display=swap" rel="stylesheet">
    <script>
        function hide()
        {
            var x = document.querySelector("div.active div.ingre");
            var y = document.querySelector("div.active div.ingre1")

            if(x.style.display === "none")
            {
            x.style.display = "block";
            y.style.display = "none";
            }

            else
            {
            x.style.display = "none";
            y.style.display = "block"; 
            }
            
        }



    </script>

    <script>
        function signInButton() {
            var x = document.getElementsByClassName("but");

        }
    </script>
</head>
<body style="background-color: #edf7f6;">
    <nav class="navbar fixed-top" style="background-color: black; padding-bottom: 0px; padding-top: 4px; ">
        <ul class="nav">
            <!-- Admin's Choice-->
            <li class="nav-item">
                <a class="nav-link active but" href="~/Collection">Collections</a>
            </li>
            <!-- Randomly generated list of food recipes, new list each page load-->
            <li class="nav-item">
                <a class="nav-link but" href="~/Card">Food</a>
            </li>
            <!-- Randomly generated list of drink recipes-->
            <li class="nav-item">
                <a class="nav-link but" href="~/Drinks">Drink</a>
            </li>
        </ul>

        @*Switch the search bar to a home button if user is in the account pages.*@
        @if (ViewContext.RouteData.Values["page"].ToString().Contains("Account"))
        {
            <a class="nav-link but" id="home" href="~/Index">Home</a>
        }
        else
        {
            <form class="form-inline nav-item" asp-page="./Search" asp-page-handler="Search" method="post">
                <ul class="nav">

                    <li class="nav-item">
                        <button type="submit" id="searchbutton"
                                class=" but btn btn-dark fas fa-search fa-2x">
                        </button>
                    </li>
                    <li class="nav-item d-none d-md-block" style="padding-bottom: 3px;">
                        <input id="searchbar" class="form-control" type="Search" placeholder="Search" name="searchString" @*value="@Model.CurrentFilter"*@>
                    </li>
                </ul>
            </form>
        }





        <!-- user's likes page/ admin's likes also goes in collections randomly-->
        <ul class="nav">

            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <button class=" but btn btn-dark fa fa-heart fa-2x" onclick="location.href = '/Likes'"></button>
                </li>
            }


            <li class="nav-item signup " style="display:none">
                <button class=" but btn btn-dark fa fa-cog fa-2x" onclick="window.location.href = 'Identity/Account/Register'"></button>
            </li>



            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a id="manage" class="nav-link active but" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>

                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link active but" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active but" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            }

        </ul>

    </nav>

    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>

@RenderSection("Scripts", required: false)


